body{background-color: aqua;}

h1{
 background-color: white;
 position: sticky;
 top: 0px;

}

.parent{
  width: 600px;
  border: 2px solid red;
  margin: auto;
  padding: 56px;
  /* position: relative; */
}

.one{
  width:100px;
  height: 100px;
  background-color: green;
  display: inline-block;
  position: relative;         /*position: relative;*/
  right: 60px;
  bottom:60px;
}

.twe{
  width:100px;
  height: 100px;
  background-color: blue;
  display: inline-block;
  position: absolute;        /*position: absolute;*/
  /* top: 0px;
  left: 0px; */

}

.three{
  width:110px;
  height: 110px;
  background-color: blueviolet;
  display: inline-block;
}

.four{
  width:100px;
  height: 100px;
  background-color: red;
  display: inline-block;
  position: fixed;
  top: 20px;
  right:50px;
  
}

.five{
  width:100px;
  height: 100px;
  background-color: orangered;
  display: inline-block;
}