body{background-color: aqua;}


/* h1::before, ::after */
h1::before{
  /* content: "Helo Bangladesh"; */
  content: url(image/check\ mark.png);
}


/* p::first-letter */
p::first-letter{
  color: red;
  font-size: 35px;
  font-weight: bold;
  background-color: white;
}

/* p::first-line */
p::first-line{
  background-color: yellow;
  color:green;
}


p::selection{
  background-color: green;
  color: white;
}

.fName::placeholder{
  color: red;
  font-size: 15px;
}